<div class="container">
	<div class="row">
		<div class="col-md-6 mx-md-auto">
			<div class="card rounded-0 mt-5 mb-5">
				<div class="card-header shadow">
					<h4> Add New Task</h4>
				</div>
				<div class="card-body">
				<%= render 'form' %>
				<p><%= link_to "Back to List", tasks_path, class: "btn btn-dark" %></p>
				</div>
			</div>
		</div>
	</div>
</div>