// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


table, td, th {
  border: 2px white;
}

th {
	padding: 15px;
    text-align: bottom;
}

td {
	padding: 15px;
	vertical-align: bottom;
}
